@using AutoCatalog.Models;
@model IEnumerable<Car>

@{
    ViewBag.Title = "Автокаталог";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Каталог автомобилей</title>
</head>
<body>
  
    <div>
        <h3>Каталог</h3>
        <table>
            <tr>
                <td><p>Марка</p></td>
                <td><p>Модель</p></td>
                <td><p>Цвет</p></td>
                <td><p>Обьем двигателя</p></td>
                <td><p>Цена</p></td>
                <td><p>Описание</p></td>
                <td></td>
                
            </tr>
            @foreach (Car b in Model)
            {
                <tr>
                    <td><p>@b.Mark</p></td>
                    <td><p>@b.Model</p></td>
                    <td><p>@b.Color</p></td>
                    <td><p>@b.Engine</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p>@b.Description</p></td>
                    <td><p></p> <p><a href="/Home/EditCar/@b.Id">Редактировать</a></p> <a href="/Home/Delete/@b.Id">Удалить</a></td>
                    
                </tr>
            }
        </table>

        <a href="/Home/Create">Добавить Авто</a>
    </div>
</body>
</html>