@model AutoCatalog.Models.CarListViewModel

@{
    ViewBag.Title = "Автокаталог";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Каталог автомобилей</title>
</head>
<body>
  
    <div>
        <h3>Каталог</h3>
        
        <form method="get">
            <div class="form-inline">
                <label class="control-label">Марка: </label>
                @Html.DropDownList("mark", Model.Marks as SelectList,
                    htmlAttributes: new { @class = "form-control" })

                <label class="control-label">Цвет: </label>
                @Html.DropDownList("color", Model.Colors as SelectList,
                htmlAttributes: new { @class = "form-control" })

                <label class="control-label">Обьем двигателя: </label>
                @Html.DropDownList("engine", Model.Engines as SelectList,
                htmlAttributes: new { @class = "form-control" })

                <input type="submit" value="Фильтр" class="btn btn-default" />
            </div>
        </form>
        
        <table>
            <tr>
                <td><p>Марка</p></td>
                <td><p>Модель</p></td>
                <td><p>Цвет</p></td>
                <td><p>Обьем двигателя</p></td>
                <td><p>Цена</p></td>
                <td><p>Описание</p></td>
                <td></td>
                
            </tr>
            @foreach (var item in Model.Cars)
            {
                <tr>
                    <td><p>@Html.DisplayFor(modelItem => item.Mark.Name)</p></td>
                    <td><p>@Html.DisplayFor(modelItem => item.Model.Name)</p></td>
                    <td><p>@Html.DisplayFor(modelItem => item.Color.Name)</p></td>
                    <td><p>@Html.DisplayFor(modelItem => item.Engine.enginetype)</p></td>
                    <td><p>@Html.DisplayFor(modelItem => item.Price.currentPrice)</p></td>
                    <td><p>@item.Description</p></td>
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                    </td>
                    
                </tr>
            }
        </table>

        <p>
            @Html.ActionLink("Добавить авто", "Create")
        </p>
    </div>
</body>
</html>